*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

a{
    text-decoration: none;
}

@import url('./components/header.less');

main{
    width: 100%;
    height: 100%;
    padding-top: 60px;
}

section{
    background-color: #eee;
}

section.anchor {
    display: block;
    position: relative;
    top: -250px;
    visibility: hidden;
}

.section-content{
    width: 100%;
    height: 100%;
}

.section-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 130px;
    background-color: #000;
    color: #fff;

    .st-main{
        width: 75%;
        text-align: center;
        font-size: 42px;
        line-height: 1;
        font-weight: 700;
    }

    .st-desc{
        width: 75%;
        text-align: center;
        font-size: 18px;
        margin-top: 15px;
        line-height: 1.55;
    }
}

#intro{
    min-height: 900px;
    max-height: 900px;
    overflow: hidden;
    position: relative;

    &::after{
        content: '';
        display: block;
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgb(0,0,0);
        background: linear-gradient(0deg, rgba(0,0,0,1) 20%, rgba(0,0,0,0) 100%);
    }

    .section-content{
        display: flex;
        justify-content: center;
    }

    .intro-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 30px;
        width: 100%;
        max-width: 1120px;
        height: 100%;
        position: absolute;
        top: 0;
        margin: auto;
        z-index: 3;
        color: #fff;

        .image-block{
            width: 290px;
            height: 290px;
            background-image: url('./src/icons/logo2.png');
            background-repeat: no-repeat;
            background-size: 45%;
            background-position: center;
            margin-bottom: 45px;
        }

        .text-block{
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            width: 90%;

            .title{
                font-size: 40px;
                color: #d6a462;
            }
            
            p{
                margin-top: 18px;
                font-size: 20px;
                line-height: 1.55;
            }
        }

        .timer{
            display: flex;

            .timer-block{
                font-family: 'Roboto', sans-serif;
                height: 100px;
                margin-top: 75px;
                margin-bottom: 75px;
                display: flex;
                flex-direction: column;
                align-items: center;
                padding-left: 45px;
                padding-right: 45px;
                border-right: 1px solid rgba(255, 255, 255, 0.2);
                
                &:last-child{
                    border-right: 0;
                }

                .value{
                    font-size: 60px;
                    font-weight: 700;
                }
    
                .param{
                    font-size: 14px;
                }
            }
            
        }

        .sale-closed{
            display: block;
            font-size: 50px;
            font-weight: 700;
            margin-top: 75px;
            margin-bottom: 75px;
            font-family: Georgia, 'Times New Roman', Times, serif;
        }

        button{
            color: #fff;
            width: 260px;
            height: 56px;
            font-size: 16px;
            font-family: Georgia, 'Times New Roman', Times, serif;
            background-color: #de4a00;
            border: 1px solid #b3afaf;
            font-weight: 700;
            border-radius: 25px;
            transition: .2s ease;
            position: relative;
            overflow: hidden;

            &:hover{
                cursor: pointer;
                background-color: #d6a462;
                border-color: #000000;
            }

            &::before{
                content: '';
                position: absolute;
                z-index: 1;
                width: 60px;
                height: 120%;
                margin-top: -20px;
                background: rgb(255,255,255);
                background: linear-gradient(90deg, rgba(255,255,255,0.1) 20%, rgba(255, 255, 255, 0.7) 90%);
                animation: moving 4s ease 0s infinite normal;
                left: -70%;
            }
        }
    }

    .video-wrapper{
        position: relative;
        padding-bottom: 56.25%;
        z-index: 1;

        .video-media{
            width: 100%;
            height: auto;
            position: absolute;
            top: 0;
            left: 0;
        }
    }
}

#cards{
    width: 100%;
    height: 100%;
    

    .section-content{
        display: flex;
        flex-direction: column;
        align-items: center;

        .title{
            font-size: 70px;
            padding-top: 40px;
            text-align: center;
            color: #d6a462;
        }
    
        .cards-block{
            width: 100%;
            .carousel{
                width: 100%;
                height: 420px;
                margin-top: -50px;
        
                .carousel-cell{
                    display: flex;
                    align-items: center;
                    margin-right: 25px;
                    height: 430px;
                    transition: all .5s ease;
                    cursor: pointer;
                    transform: scale(0.90);
                    perspective: 750px;

                    .card{
                        width: 230px;
                        height: 280px;
                        transition: all 1s ease;
                        transform-style: preserve-3d;

                        .card-img{
                            width: 100%;
                            vertical-align: top;
                        }
                    }

                    &:hover{
                        transform: scale(1) translate3d(0, -10px, 0);

                        .side{
                            box-shadow: -36px 18px 16px 0 rgba(0, 0, 0, 0.8);
                        }
                    }

                    .side{
                        // border-radius: 15px;
                        transition: all .3s ease;
                        display: block;
                        backface-visibility: hidden;
                        box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.4);
                    }

                    .back{
                        position: relative;
                    }

                    .front{
                        position: absolute;
                        top: 0;
                        transform: rotateY(180deg);
                    }

                    .flip{
                        transform: rotateY(180deg);
                    }
                }
    
                .flickity-button{
                    opacity: 0;
                }
            }
        }

        #info{
            width: 340px;
            height: 65px;
            background-color: #a6a9aa;
            border: 1px solid #c2c2c2;
            border-radius: 15px;
            font-size: 25px;
            font-family: Georgia, 'Times New Roman', Times, serif;
            font-weight: 700;
            color: #fff;
            margin-top: 35px;
            margin-bottom: 60px;
            transition: .2s linear;
            position: relative;
            z-index: 2;
            overflow: hidden;

            &:hover{
                background-color: #d6a462;
                cursor: pointer;
            }

            &::before{
                content: '';
                position: absolute;
                z-index: 1;
                width: 60px;
                height: 120%;
                margin-top: -20px;
                background: rgb(255,255,255);
                background: linear-gradient(90deg, rgba(255,255,255,0.1) 20%, rgba(255, 255, 255, 0.7) 90%);
                animation: moving 3s ease 0s infinite normal;
                left: -88%;
            }
        }
    }
}
    

#packs{
    width: 100%;
    height: 100%;
    
    .packs-block {
        padding-left: 50px;
        padding-right: 50px;
        max-width: 1500px;
        margin: auto;

        .pack{
            display: flex;
            width: 100%;
            height: 700px;
            padding-top: 50px;
            padding-bottom: 50px;
    
            .p-left{
                width: 50%;
                height: 100%;
                background-repeat: no-repeat;
                background-position: right;
                background-size: auto 100%;
            }

            #img-pack1{
                background-image: url('./src/packs/Silver\ \(2\).png');
            }

            #img-pack2{
                background-image: url('./src/packs/Gold1.png');
            }

            .p-right{
                font-family: 'Roboto', sans-serif;
                font-size: 18px;
                padding-top: 25px;
                padding-bottom: 50px;
                padding-left: 75px;

                .pr-info-title{
                    .title{
                        font-size: 24px;
                        font-weight: 700;
                        line-height: 1.55;
                        font-family: Georgia, 'Times New Roman', Times, serif;
                    }

                    .description{
                        font-style: italic;
                        font-size: 12px;
                        font-weight: 400;
                        color: rgb(122, 122, 122);
                    }
                }

                .pr-list{
                    line-height: 1.65;
                    list-style-position: inside;

                    li{
                        text-align: justify;
                        width: 100%;
                    }

                    .title{
                        font-weight: 700;
                        margin-top: 20px;
                        margin-bottom: 20px;
                    }
                }

                .pr-price{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    line-height: 1.55;
                    margin-top: 50px;
                    margin-bottom: 50px;

                    .price-left{
                        font-weight: 700;
                        
                        .pr-value{
                            font-size: 20px;
                        }
                    }
                }
            }    
        }
    }
}

#stages{
    .cards-block{
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding-top: 50px;
        padding-bottom: 50px;
        margin: auto;
        max-width: 1500px;

        .column{
            display: flex;
            align-items: flex-end;
            width: 33%;
            max-width: 445px;
            height: 750px;

            .card{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 80%;
                color: #fff;
                
                background-repeat: no-repeat;
                background-size: 100% 100%;

                .card-content{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    width: 65%;
                    max-height: 300px;

                    .title{
                        font-size: 24px;
                        margin-bottom: 20px;
                        margin-top: 20px;
                        text-align: center;
                    }

                    .text{
                        font-size: 17px;
                        text-align: center;
                        line-height: 1.55;
                    }
                }
            }

            #stage1{
                background-image: url('./src/stages/flag\ 2.png');
            }
            #stage3{
                background-image: url('./src/stages/flag\ 3.png');
            }
            #stage5{
                background-image: url('./src/stages/flag\ 5.png');
            }
        }

        #start{
            align-items: flex-start;
        }
    }
}

#faq{
    .faq-block{
        width: 100%;
        height: 100%;
        padding-top: 100px;
        padding-bottom: 100px; 
    }

    .question-block{
        width: 57.5%;
        margin: auto;
    
        .question{
            width: 100%;
            margin-bottom: 2px;
            background-color: #fff;
            
            font-size: 24px;

            .q-header{
                display: flex;
                justify-content: space-between;
                align-items: center;
                position: relative;
                padding: 25px 30px;
                height: 80px;

                &:hover{
                    cursor: pointer;

                    .btn{
                        background-color: #eee;
                        
                    }
                }

                .title{
                    font-weight: 700;
                }

                .btn{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 40px;
                    height: 40px;
                    border-radius: 24px;
                    margin-right: 30px;
                    position: absolute;
                    right: 0;
                    transition: .2s linear;

                    .btn-img{
                        transition: .2s linear;
                        width: 24px;
                        height: 24px;
                    }
                }
            }

            .q-answer{
                font-family: 'Roboto', sans-serif;
                font-size: 16px;
                line-height: 1.55;
                font-weight: 300;
                padding-left: 30px;
                padding-right: 30px;
                max-height: 0;
                overflow: hidden;
                transition: all 1s ease;
            
            
                a{
                    color: #ff8562;
                }
            
                .italic-link{
                    font-style: italic;
                }

                .italic{
                    font-style: italic;
                    font-size: 14px;
                }
            
                .text{
                    margin-top: 20px;
                    margin-bottom: 20px;
            
                    &:first-child{
                        margin-top: 0;
                    }
                }
            }
            
            .transition{
                max-height: 10000px;
            }
            
            .close{
                transform: rotateZ(-45deg);   
            }
        }
    }
}

#roadmap{
    .section-title{
        height: 160px;

        .st-desc{
            width: 95%;
            font-size: 16px;
        }
    }

    .roadmap-content {
        display: grid; 
        padding: 50px;
        height: 1370px;
        max-width: 1248px;
        margin: auto;
        grid-template-columns: 1fr 1fr; 
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr; 
        gap: 30px 1px; 
        grid-template-areas: 
          "rm-1 ."
          "rm-1 rm-2"
          "rm-3 rm-2"
          "rm-3 rm-4"
          "rm-5 rm-4"
          "rm-5 ."; 
    }
    .rm-block{
        display: flex;
        width: 100%;
        max-width: 624px;
        justify-content: center;
        align-items: center;
        background-image: url('./src/roadmap/ROAD-ramka.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100% auto;
        position: relative;
        z-index: 0;
        color: #fff;
        font-size: 18px;
        line-height: 1.35;
        font-weight: 700;

        .text-content{
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;
            width: 70%;
            margin-top: 25px;
            position: relative;
            z-index: 2;
            height: 250px;
        }

        .text{
            text-align: center;
            width: 100%;
            position: relative;
            z-index: 2;
        }

        .gameplay{
            width: 200px;
            height: 55px;
            font-size: 20px;
            font-weight: 700;
            border-radius: 30px;
            background-color: #9e9b9b;
            border: 1px solid #fff;
            transition: .2s linear;
            position: relative;
            z-index: 2;

            &:hover{
                background-color: #fff;
            }

            a{
                padding: 15px 40px;
                color: #000;
                font-family: Georgia, 'Times New Roman', Times, serif;
            }
        }

        .date{
            margin-top: 20px;
            margin-bottom: 5px;
        }

        .road-img{
            position: absolute;
            align-self: center;
            margin-top: 15px;
            height: 60%;
            transition: all 3s linear;
        }
    }

    .rm-1, .rm-3, .rm-5{
        &::before{
            content: '';
            position: absolute;
            top: 50%;
            right: -1.5px;
            width: 3px;
            height: 30px;
            background-color: #eee;
        }
    }

    .rm-1 { 
        grid-area: rm-1; 
        border-right: 2px solid #909090;
        .text{
            margin-bottom: 15px;
        }
    }
    .rm-2 { 
        grid-area: rm-2;
        margin-top: -25px; 
    }
    .rm-3 { 
        grid-area: rm-3; 
        border-right: 2px solid #909090;
        
    }
    .rm-4 { 
        grid-area: rm-4;
        margin-top: -25px; 

        .text-content{
            width: 75%;
        }
        
        .date{
            margin-top: 0;
            margin-bottom: 2.5px;
        }
        .text{
            margin-bottom: 10px;
        }
    }
    .rm-5 { 
        grid-area: rm-5; 
        border-right: 2px solid #909090;
        
        .text{
            margin-bottom: 20px;
        }
    }
}

.animate{
    animation: image_anim 6s ease 0s 1 normal;
}

.animate_rm5{
    animation: rm_5 10s ease 0s 1 normal;
}


@keyframes moving {  
    0%{
        webkit-transform: skewX(-45deg);
        transform: skewX(-45deg);
    }
    50% {  
        webkit-transform: skewX(-45deg) translateX(33.5em);
        transform: skewX(-45deg) translateX(33.5em);   
    }
  
   100% {  
        webkit-transform: skewX(-45deg) translateX(33.5em);
        transform: skewX(-45deg) translateX(33.5em);   
    }
}

@keyframes image_anim {  
    0% {  
        transform: scale(1);
    }

    50% {
        transform: scale(0) rotate(720deg);
    }
    
}

@keyframes rm_5 {
    10%{
        margin-left: 35%;  
    }
    30%{
        margin-left: -35%;  
    }
    40%{
        margin-left: 0%;
        margin-bottom: 0%;
    }
    42%{
        margin-bottom: 4%;
    }
    44%{
        margin-bottom: 0%;
    }
    46%{
        margin-bottom: 4%;
    }
    48%{
        margin-bottom: 0%;
    }
    50%{
        margin-bottom: 4%;
    }
    52%{
        margin-top: 0%;
        transform: scale(1);
    }
    75%{
        transform: scale(0) rotate(720deg);
    }
    100%{
        transform: scale(1);
    }
}

@import url('./components/footer.less');




@media (max-width: 1300px) {

    
    #intro::after{   
        background: linear-gradient(0deg, rgba(0,0,0,1) 50%, rgba(0,0,0,0) 100%) !important;
    } 

    #stages{
        .cards-block {
            flex-direction: column;

        }

        .column{
            width: 100% !important;
            align-items: center !important;
            max-width: none !important;
            justify-content: center;
            padding-top: 20px;
            padding-bottom: 20px;
            margin: auto;
            margin-top: -50px;
            height: auto !important;
        }

        .card{
            height: 600px !important;
            max-width: 445px;
            min-width: 300px;
        }
    }

    
    #roadmap{
        .st-desc{
            .br{
                display: none;
            }
        }

        .roadmap-content{
            height: 2500px;
            padding: 20px;
            grid-template-columns: 1fr !important; 
            grid-template-rows: repeat(5, 1fr) !important; 
            gap: 0;
            grid-template-areas: 
            "rm-1"
            "rm-2"
            "rm-3"
            "rm-4"
            "rm-5" !important; 
        }

        .rm-block{
            margin-left: auto;
            margin-right: auto;
            
        }

        .rm-1, .rm-3, .rm-5{
            border-right: 0;
        }
    }
    .road-img{
        height: 50% !important;
    }
    
}

@media (max-width: 1000px) {

    #packs{
        .packs-block{
            padding-left: 15px;
            padding-right: 15px;
        }
    }
}

@media (max-width: 900px) {

    .section-title{
        .st-main{
            width: 100%;
            font-size: 38px;
        }

        .st-desc{
            font-size: 16px;
        }
    }

    #intro::after{   
        background: linear-gradient(0deg, rgba(0,0,0,1) 70%, rgba(0,0,0,0) 100%) !important;
    } 

    #packs{
        .packs-block{
            .pack{
                height: 550px;

                .p-right{
                    font-size: 16px;
                    padding-left: 25px;
                    padding-top: 10px;

                    .pr-list{
                        line-height: 1.2;
                    }
                }
            }
        }
    }

    #faq{
        .question-block{
            width: 80%;
        }
    }
}

@media (max-width: 700px){
    #intro{
        .intro-content{
            .text-block{
                .title{
                    font-size: 30px;
                }
                p{
                    font-size: 17px;
                }
            }

            .timer{
                .timer-block{
                    padding-left: 25px;
                    padding-right: 25px;
                }

                .sale-closed{
                    font-size: 30px;
                }
            }
        }
    }

    .section-title{
        .st-main{
            width: 100%;
            font-size: 30px;
        }

        .st-desc{
            font-size: 16px;
        }
    }

    #packs{
        .packs-block{
            .pack{
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                height: 1200px;
                padding-bottom: 0;

                .p-left, .p-right{
                    width: 100%;
                }

                .p-left{
                    background-position: center;
                }

                .p-right{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    padding: 0;
                    padding-top: 20px;

                    .pr-list{
                        line-height: 1.5;
                        font-size: 18px;
                    }

                    .pr-price{
                        width: 70%;
                    }
                }
            }

            #pack2{
                padding-top: 0;
            }
        }
    }

    #faq{
        .question-block{
            width: 90%;
            .question{
                font-size: 18px;

                .q-header{
                    .title{
                        max-width: 210px;
                    }

                    .btn{
                        margin-right: 15px;
                    }
                }
            }
        }
    }

    #roadmap{
        .section-title{
            .st-desc{
                font-size: 14px;
            }
        }

        .roadmap-content{
            .rm-block{
                font-size: 15px;
                background-size: 100% 80%;

                .road-img{
                    height: 55% !important;
                }

                .text-content{
                    .text{
                        margin-bottom: 25px;
                        line-height: 1.5;
                    }
                }
            }

            .rm-1{
                .text-content{
                    .text{
                        margin-bottom: 35px;
                    }
                }
            }
            .rm-2{
                .text-content{
                    .text{
                        margin-bottom: 35px;
                    }
                }
            }
        }
    }
}

@media (max-width: 500px) {
    .section-title{
        .st-main{
            font-size: 25px;
        }

        .st-desc{
            font-size: 14px;
        }
    }

    #intro{
        &::after{   
            background: linear-gradient(0deg, rgba(0,0,0,1) 90%, rgba(0,0,0,0) 100%) !important;
        }

        .intro-content{
            .text-block{
                .title{
                    font-size: 28px;
                }
                p{
                    font-size: 16px;
                }
            }

            .timer{
                .timer-block{
                    height: 75px;
                    padding-left: 20px;
                    padding-right: 20px;
                    
                    .value{
                        font-size: 35px;
                    }

                    .param{
                        font-size: 12px;
                    }
                }
            }
        }
    }

    #cards{
        .section-content{
            #info{
                width: 250px;
                font-size: 22.5px;
            }
        }
        
    }
    
    #faq{
        .question-block{
            .question{
                font-size: 16px;
            }
        }
    }

    #roadmap{
        .section-title{
            .st-desc{
                font-size: 12px;
            }
        }

        .roadmap-content{
            padding: 0;
            .rm-block{
                background-size: 100% 70%;
                font-size: 14px;
                .text-content{
                    .text{
                        margin-bottom: 20px;
                        line-height: 1.4;
                    }
                }
            }
        }
    }
}

@media (max-width: 400px) {
    .section-title{
        .st-main{
            font-size: 22.5px;
        }
    }

    #intro{
        .intro-content{
            .timer{
                .sale-closed{
                    font-size: 25px;
                }
            }
        }
    }

    #packs{
        .packs-block{
            .pack{
                height: 1000px;
                .p-left{
                    background-size: 80% auto
                }

                .p-right{
                    font-size: 14px;
                    padding-left: 0;

                    .pr-list{
                        font-size: 14px;
                    }

                    .pr-price{
                        width: 90%;
                    }
                }
            }

            #pack1{
                padding-top: 0;
            }

            #pack2{
                margin-top: -50px;
            }
        }
    }

    #stages{
        .section-content{
            .cards-block{
                .card{
                    height: 475px !important;
                    .card-content{
                        .title{
                            font-size: 20px;
                            margin-bottom: 10px;
                            margin-top: 35px;
                        }
                        .text{
                            font-size: 14px;
                            line-height: 1.4;
                        }
                    }
                }
            }
        }
    }

    #roadmap{
        .roadmap-content{
            .rm-block{
                background-size: 100% 70%;
                font-size: 13px;
                .text-content{
                    .text{
                        margin-bottom: 20px;
                        line-height: 1.2;
                    }
                }
            }
        }
    }
}